#bhs-import-message {
	width: 50%;
	height: 400px;
	border: 2px solid #aaa;
	padding: 5px;
	overflow: scroll;
	background: #fff;
	margin-top: 2em;
}

.bhs-import-record-status {
	font-weight: bold;
}

.bhs-import-record-success {
	color: #00b159;
}

.bhs-import-record-failure {
	color: #d11141;
}
